---
import Skill from '../components/Skill.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="skills">
		<Skill skill="html" progress="100" />
		<Skill skill="php" progress="80" />
    </div>
</Layout>

<style>
	.skills {
		padding-top: 3rem;
		margin: auto;
		max-width: 500px;

		display: grid;
		gap: 2rem;
		/* row-gap: 1rem;
		column-gap: 2rem; */

		@media (width >= 768px) {
			max-width: 700px;
		}
		
		@media (width >= 993px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>