---
import Skill from '../components/Skill.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h2>Skills</h2>
	<div class="skills">
		<Skill skill="html" progress="90" />
		<Skill skill="php" progress="30" />
		<Skill skill="css" progress="85" />
		<Skill skill="javascript" progress="95" />
		<Skill skill="three JS" progress="60" />
		<Skill skill="react" progress="90" />
		<Skill skill="react three fiber" progress="80" />
    </div>
</Layout>

<style>

	h2 {
		text-align: center;
	}

	.skills {
		padding-top: 3rem;
		margin: auto;
		max-width: 500px;

		display: grid;
		gap: 2rem;

		@media (width >= 768px) {
			max-width: 700px;
		}
		
		@media (width >= 993px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>